<mat-form-field class="example-form-field" appearance="outline">
  <input #itemName="matInput" matInput type="text">
  <button *ngIf="itemName.value" matSuffix mat-icon-button aria-label="Clear" (click)="onAddItem(itemName)">
    <mat-icon>add</mat-icon>
  </button>
</mat-form-field>

<mat-checkbox class="show-only-unchecked" (change)="showOnlyUnchecked.next($event.checked)">
  Show only unchecked elements
</mat-checkbox>

<div *ngIf="items$ | async as items">
  <div class="item" *ngFor="let item of items">
    <mat-checkbox #checkbox [checked]="item.active" (change)="onUpdate(item, checkbox)">{{ item.name }}</mat-checkbox>
    <button class="delete-btn" mat-icon-button>
      <mat-icon (click)="onRemove(item.name)">delete</mat-icon>
    </button>
  </div>
</div>